<div style="background-image: url('/basicBackground.png'); background-attachment: fixed; box-shadow: inset 0 0 50px 8px #282a2d; background-repeat: no-repeat; background-position: center;">

<div class="mainContainer">
    <mat-card class="loginCard">
        <mat-card-title style="margin-bottom: 20px;">Welcome to Anonymous Chats!</mat-card-title>
        <mat-card-content class="loginContent">
            <button mat-flat-button (click)="logIn()">Log In</button>
        </mat-card-content>
    </mat-card>
</div>
</div> 