.loginCard {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.mainContainer {
display: flex;
height: 100vh;
width: 100vw;
margin:auto;
}
.loginContent{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-content: center;
  margin: auto;
}