.container {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

.container-left {
    align-items: flex-start;
}

.container-right {
    align-items: flex-end;
}

.message-box {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;

    width: fit-content;
    max-width: 30vw;
    height: fit-content;
    text-align: left;
    font-size: 1rem;
    padding: 15px;
}

.message-left {
    border-radius: 25px 25px 25px 0;
    background-color: rgb(148, 147, 147);
}

.message-right {
    border-radius: 25px 25px 0 25px;
    background-color: rgb(157, 63, 204);
}

.sender-name {
    color: var(--primary-text-color);
    font-size: 1rem;
    padding: 5px 15px;
}