
<mat-dialog-content class="container">
  <form [formGroup]="newGroupForm">
      <mat-card class="inner-container">

          <mat-card-header>
            <mat-card-title id="header">Create Group</mat-card-title>
          </mat-card-header>

          <mat-card-content>

              <mat-form-field appearance="fill">
                <mat-label>Group Name</mat-label>
                <input matInput formControlName="name" [maxLength]="50">
                @if (newGroupForm.controls['name'].hasError('required')) {
                  <mat-error>Group name is <strong>required</strong></mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Search For Users</mat-label>
                <input type="text"
                      placeholder=""
                      aria-label="Username Search"
                      matInput
                      name="selectedUser"
                      [formControl] = "userSelectControl"
                      [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  @for (user of availableUsers | async; track user) {
                    <mat-option [value]="user" (click)="addUserToTable(user)">{{user.userName}}</mat-option>
                  }
                </mat-autocomplete>
                <mat-hint id="members-required-hint" *ngIf="selectedUsers.length < 5">
                  {{5 - selectedUsers.length}} more members required!
                </mat-hint>
              </mat-form-field>
                  
              <table mat-table [dataSource]="selectedUsers">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let user">{{user.id}}</td>
                </ng-container>
                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef>Members ({{selectedUsers.length}})</th>
                  <td mat-cell *matCellDef="let user">{{user.userName}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let user">{{user.email}}</td>
                </ng-container>
                <ng-container matColumnDef="deleteButton">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let user">
                    <mat-icon
                      class="delete-button"
                      (click)="deleteUserFromTable(user)">
                      delete
                    </mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="submit-button-container">
                <button 
                  class="submit-button"
                  type="submit"
                  [disabled]="!formIsValid()"
                  [ngClass]="!formIsValid() ? 'disabled-button' : 'active-button'"
                  (click)="onSubmit()">
                  Create Group
                </button>
              </div>
          </mat-card-content>
      </mat-card>
  </form>
</mat-dialog-content>