<div class="main-container">


<mat-dialog-content style="padding: 20px; background-color: var(--primary-color); height: 100%;">
  <div cdkDropListGroup class="drag-container">
    <div class="user-container">
      <span class="box-title">Available Users</span>

      <div
        id="allUsersContainer"
        cdkDropList
        [cdkDropListData]="allUsers"
        cdkDropList
        class="list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="noReturnPredicate"
      >
        <div
          class="user-box"
          *ngFor="let user of allUsers"
          [cdkDragData]="user"
          cdkDrag
        >
          {{ user.userName }}
        </div>
      </div>
    </div>
    <!-- addin an ngif to prevent problems with displaying before calls were made -->
    <div style="min-width:45%;">
    @if(guesseePseudonyms.length > 0) {
      @for (selectedUser of selectedUsers; track selectedUser;) {
      <div class="guess-container">
        <span class="box-title">Select a guess for {{ getMappingPseudonym($index) }}</span>
        <button (click)="clearSelection($index)">Clear Guess</button>
        <div
          id="{{ $index }}"
          cdkDropList
          [cdkDropListSortingDisabled]="true"
          [cdkDropListData]="selectedUsers"
          cdkDropList
          class="list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="user-box" cdkDrag [cdkDragData]="selectedUser">
            {{ selectedUser.userName }}
          </div>
        </div>
    </div>
      }
    }
    </div>
  </div>

</mat-dialog-content>
</div>
<mat-dialog-actions style="background-color: var(--primary-color);;">
  <button (click)="onSubmit()" mat-dialog-close>Save Guess</button>
</mat-dialog-actions>
