  <mat-dialog-content cdkDropListGroup class="main-container">

    <section>
      <h3 class="list-header">Chat Members</h3>
      <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="200"
          [minBufferPx]="400"
          [maxBufferPx]="500"
          class="guess-container"
          *ngIf="guesseePseudonyms.length > 0">

          <div class="chat-member-container">
            @for (selectedUser of selectedUsers; track selectedUser) {
              <div id="chat-member-card">
      
                <div class="member-name noselect">
                  <mat-icon>person_search</mat-icon>
                  <span>{{ getMappingPseudonym($index) }}</span>
                </div>
      
                <a class="clear-guess-button" (click)="clearSelection($index)">
                  <span style="white-space: nowrap;">Clear Guess</span>
                  <!-- <mat-icon style="font-size: smaller">close</mat-icon> -->
                </a>
      
                <div
                  id="{{ $index }}"
                  class="list"
                  cdkDropList
                  [cdkDropListSortingDisabled]="true"
                  [cdkDropListData]="selectedUsers"
                  cdkDropListOrientation="horizontal"
                  cdkDropList
                  (cdkDropListDropped)="drop($event)">

                  <div class="selection-box" cdkDrag [cdkDragData]="selectedUser">
                    {{ selectedUser?.userName }}
                  </div>

                </div>
              </div>
            }
          </div>
      </cdk-virtual-scroll-viewport>
    </section>

    <section>
      <h3 class="list-header">All Group Members</h3>
        <cdk-virtual-scroll-viewport
          orientation="horizontal"
          itemSize="200"
          [minBufferPx]="400"
          [maxBufferPx]="500"
          class="guess-container"
          style="height: 90px !important">  
          <div
            class="list"
            cdkDropList
            [cdkDropListData]="allUsers"
            cdkDropListOrientation="horizontal"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="noReturnPredicate">
            
            <div
              id="group-member-card"
              *cdkVirtualFor="let user of allUsers"
              [cdkDragData]="user"
              cdkDrag>
              <div class="member-name noselect">
                <mat-icon>person</mat-icon>
                <span>{{ user.userName }}</span>
              </div>
            </div>
          
          </div>
        </cdk-virtual-scroll-viewport>
    </section>
      
  </mat-dialog-content>

<mat-dialog-actions style="background-color: var(--primary-color);">
  <button class="save-button" (click)="onSubmit()" mat-dialog-close>Save Guess</button>
</mat-dialog-actions>
