<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
        <mat-toolbar-row id="group-name">{{selectedGroup.name}}</mat-toolbar-row>
        
        <mat-toolbar-row class="sidenav-row">
          <a mat-fab class="sidenav-button" extended [routerLink]="'/groups'">
            <mat-icon>home</mat-icon>
            Groups
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row class="sidenav-row">
          <a mat-fab class="sidenav-button" extended (click)="openDialog()">
            <mat-icon>people_outline</mat-icon>
            All Members
          </a>
        </mat-toolbar-row>

    </mat-toolbar>

    <!--Each nav item is a hyperlink currently and will need ot be converted over to passing info along to the chat window. 
    Could be done by just changing the attribute of selected chatId i think?-->
    <h3 id="chats-header">Chats</h3>
    <hr id="chats-line-break">
    <mat-nav-list>
        <div class="chat-card" *ngFor="let chat of completeChats" tabindex="-1">
            <a class="noselect" (click)="selectChatEvent(chat.chat.id)">
              <span>{{getChatPseudonymsAsString(chat)}}</span>
            </a>
        </div>
    </mat-nav-list>
  </mat-sidenav>

  <!--Adds a button if the screensize gets so low that its related to mobile-->
  <mat-sidenav-content>
    <mat-toolbar class="chat-window-header">
      
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <h3 class="chat-name" *ngIf="selectedCompleteChat; else no_chat_name">
        {{getChatPseudonymsAsString()}}
      </h3>
      <ng-template class="chat-name" #no_chat_name></ng-template>

    </mat-toolbar>

    <!--selected group id will need to get changed to selected chat and used to pull chat info into the component-->
    @if (isChatSelected) {
      <app-chat-window [selectedCompleteChat]="selectedCompleteChat"></app-chat-window>
    }

  </mat-sidenav-content>
</mat-sidenav-container>