@if(isLoaded) {
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
        <mat-toolbar-row id="group-name">{{selectedGroup.name}}</mat-toolbar-row>
        <mat-toolbar-row class="sidenav-row">
          <a mat-fab class="sidenav-button" extended [routerLink]="'/groups'">
            <mat-icon>home</mat-icon>
            Groups
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row class="sidenav-row">
          <a mat-fab class="sidenav-button" extended (click)="openMembersList()">
            <mat-icon>people_outline</mat-icon>
            All Members
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row
          class="sidenav-row"
          *ngIf="isGroupAdmin"
          [matTooltip]="'Create randomized chats for your group members!'"
          [matTooltipPosition]="'right'"
          [matTooltipShowDelay]="300">
          <a mat-fab class="sidenav-button" extended (click)="createChats()">
            <mat-icon>chat</mat-icon>
            Start New Round
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row class="sidenav-row" *ngIf="chatCreationLoading">
          <mat-spinner [diameter]="30"></mat-spinner>
        </mat-toolbar-row>
    </mat-toolbar>

    <h3 id="chats-header">Chats</h3>
    <hr id="chats-line-break">
    <mat-nav-list class="chat-card-list" *ngIf="completeChats.length > 0; else empty_chats_list">
        <div
          class="chat-card"
          *ngFor="let chat of completeChats"
          [ngClass]="chat.chat.id === selectedCompleteChat?.chat?.id ? 'selected-chat' : ''"
          tabindex="-1"
          (click)="selectChatEvent(chat.chat.id)">
            <a class="noselect">
              <span>{{getChatPseudonymsAsString(chat)}}</span>
            </a>
        </div>
    </mat-nav-list>
    
    <ng-template #empty_chats_list>
      <div id="empty-chats-message">
        <span *ngIf="isGroupAdmin; else not_group_admin">
          Start the conversation! Create a chat for your group.
        </span>
        <ng-template #not_group_admin>
          <span>
            Waiting for the host to create a chat. Stay tuned!
          </span>
        </ng-template>
      </div>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="chat-window-header-container">
      
      <!--Adds a button if the screensize gets so low that its related to mobile-->
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <div class="chat-window-header" *ngIf="selectedCompleteChat; else no_chat_name">
        <h3 id="chat-name">
          {{getChatPseudonymsAsString()}}
        </h3>

        <div id="chat-window-header-right">
          <div id="chat-timer">
            <span 
              *ngIf="(isHandset$ | async); else full_time_display"
              [ngClass]="{ 'red-text': isTimeBelowTenMinutes() }">
              {{ getRemainingTime() }}
            </span>
            <ng-template #full_time_display>
              <span>
                Time Left: {{ getRemainingTime() }}
              </span>
            </ng-template>
          </div>
  
          <button 
            [matMenuTriggerFor]="chatUsersMenu"
            id="chat-guess-button" 
            [matTooltip]="'Chat Users'"
            [matTooltipPosition]="'left'"
            [matTooltipShowDelay]="500"
            [matTooltipHideDelay]="1000">
            <mat-icon [inline]="true">theater_comedy</mat-icon>
          </button>
        </div>
        
        <mat-menu #chatUsersMenu="matMenu" class="chat-user-menu">
          <tr *ngFor="let secretIdentity of getChatPseudonymsAsArray(selectedCompleteChat)"
              class="chat-user-menu-tr">
            <td class="chat-user-menu-td">
              <mat-icon id="chat-user-menu-pfp">person</mat-icon>
              <span id="chat-user-menu-username" class="noselect">
                  {{secretIdentity}}
              </span>
            </td>
          </tr>

          <button 
            id="make-guess-button" 
            mat-menu-item 
            [disabled]="isChatClosed()"
            [matTooltip]="isChatClosed() ? '': 'Guess the identities of the other chat members'"
            [matTooltipPosition]="'left'"
            (click)="openGuessPage()">
            Make Guess
          </button>
        </mat-menu>

      </div>
      <ng-template class="chat-name" #no_chat_name></ng-template>
    </mat-toolbar>

    @if (selectedCompleteChat) {
      <app-chat-window [selectedCompleteChat]="selectedCompleteChat" [loggedInUser]="loggedInUser"></app-chat-window>
    }

  </mat-sidenav-content>
</mat-sidenav-container>

}
@else {
    <app-loading-spinner></app-loading-spinner>
}