.sidenav-container {
  background-color: var(--ternary-color);
  height: 100%;
  overflow: hidden;
}
  
.sidenav {
  background-color: var(--secondary-color);
  min-width: 220px;
  width: 23vw;
  overflow-x: hidden;
}

.sidenav .mat-toolbar {
  background: var(--secondary-color);
}

.sidenav-row {
  display: flex;
  justify-content: center;
}

.sidenav-button {
  width: 100%;
  max-width: 200px;
  height: 75%;
}

mat-toolbar .mat-primary {
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

#chats-header {
  color: rgb(216, 216, 216);
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-size: 0.95rem;
  margin: 15px 0 0 15px;
}

#chats-line-break {
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

#group-name {
  display: flex;
  justify-content: flex-start;
  color: var(--secondary-text-color);
  font-family: "Open Sans", serif;
  font-weight: 600;
}

#empty-chats-message {
  margin: 10px auto;
  width: 70%;
  text-align: center;
  text-justify: auto;
  color: lightslategray;
}

.chat-card-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.chat-card {
  width: 80%;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 10px;
  margin-bottom: 3px;
  transition: ease all 0.3s;
}

.chat-card:hover {
  transform: scale(107%);
  pointer-events: auto;
  cursor: pointer;
  transition: ease all 0.3s;
}

.selected-chat {
  background-color: rgba(75, 75, 75, 0.6);
}

.chat-window-header-container {
  background-color: var(--ternary-color);
  width: 100%;
}

.chat-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}

#chat-name {
  display: block;
  color: var(--primary-text-color);
  flex-grow: 1;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#chat-window-header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#chat-timer {
  color: lightgoldenrodyellow;
  font-family: "Inter", serif;
  font-size: 0.9rem;
  flex-grow: 1;
}

.red-text {
  color: crimson;
}

#chat-guess-button {
  background-color: var(--ternary-color);
  color: var(--primary-text-color);
  border: 0;
  font-size: 2rem;
  pointer-events: auto;
  cursor: pointer;
  transition: ease all 0.3s;
}

#chat-guess-button:hover {
  transform: scale(120%);
  transition: ease-out all 0.3s;
}

::ng-deep .mat-menu-content{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.chat-user-menu-tr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #191a1b;
  color: hsl(218, 39%, 85%);
  font-size: 1.1rem;
  font-family: "Inter", serif;
  min-height: 30px;
  margin-bottom: 0.5px;
  padding: 5px;
  transition: ease all 1s;
}

.chat-user-menu-tr:hover {
  
  transition: ease all 0.3s;
}

.chat-user-menu-tr:hover > * {
  transition: ease all 0.5s;
}

.chat-user-menu-tr > * {
  transition: ease all 0.5s;
}

.chat-user-menu-td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#chat-user-menu-pfp, #chat-user-menu-username {
  display: inline-block;
  vertical-align: middle;
  color: hsl(218, 39%, 85%);
}

#chat-user-menu-username {
  margin-left: 10px;
}

#make-guess-button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  transition: ease all 0.2s;
}

#make-guess-button:hover {
  background-color: rgb(64, 80, 159);
  color: rgb(219, 219, 219);
  transition: ease all 0.2s;
}