.OpenMenuContainer{
    width: 30vw;
    height: 96vh   ;
    position: relative;
    border-style: dashed;
    z-index: 1;
}

.ClosedMenuContainer {
    width: max-content;
    height: max-content;
    position: relative;
    border-style: dashed;
    z-index: 1;
}

.ChatPreviewContainer{
    bottom: 0;
    left: 0;
    position:absolute


}
.ChatPreview{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
