.OpenMenuContainer{
    width: 30%;
    height: 99%;
    position: fixed;
    border-style: dashed;
    background-color: beige;
    
}

.ClosedMenuContainer {
    width: max-content;
    height: max-content;
    position: relative;
    border-style: dashed;
    z-index: 1;
}

.ChatPreviewContainer{
    bottom: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 25%


}
.ChatPreview{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.ClosedMenuContainer {
    width: max-content;
    height: max-content;
    position: fixed;
    border-style: dashed;
}
button{
    align-self: center;
}
