<mat-sidenav-container class="sidenav-container">
    <!-- control the view based on screen size -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
        <mat-toolbar-row>Menu</mat-toolbar-row>
        <!-- Breaks the group selection menu into a specific row for legibility -->
        <mat-toolbar-row>
            <mat-form-field style="justify-self: flex-end;" subscriptSizing="dynamic">
                <mat-label >Selected Group</mat-label>
                <mat-select  [(ngModel)]="selectedGroupId" name="group" >

                  @for (group of userGroups; track group) {
                    <!-- On click makes a new chain call to get all applicable user chats to populate the menu -->
                    <mat-option [value]="group.id" (click)="getUserChats()">{{group.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>
    <!--Each nav item is a hyperlink currently and will need ot be converted over to passing info along to the chat window. Could be done by just changing the attribute of selected chatId i think?-->
    <mat-nav-list>
        <div *ngFor="let chat of completeChats, let i = index">
            <a mat-list-item href="#">Chat {{chat.chat.chatId}}: <span *ngFor="let user of chat.chatUsers">{{user.pseudonym}} </span> </a>
        </div>
    </mat-nav-list>
  </mat-sidenav>
  <!--Adds a button if the screensize gets so low that its related to mobile-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>anonymous-chats-frontend</span>
    </mat-toolbar>
    <!--selected group id will need to get changed to selected chat and used to pull chat info into the component-->
    <app-chat-window [selectedGroupId]="selectedGroupId"></app-chat-window>
  </mat-sidenav-content>
</mat-sidenav-container>