<div class="container">
    <cdk-virtual-scroll-viewport class="message-window" itemSize="10">
        <div *cdkVirtualFor="let message of openChatMessages">
            <app-message 
                [message]="message.filteredMessage"
                [author]="message.createdBy"
                [pseudonym]="pullMessagePseudonym(message)"
                [repeatedAuthor]="isPreviousAuthor(message.createdBy)"
                [timeStamp]="message.createdOn">
            </app-message>
        </div>
        
        <!-- Display chat closed section -->
        @if (isChatClosed) {
            <app-end-of-chat-info 
                [chatId]="selectedCompleteChat.chat.id"
                [chatUsersMapping]="chatUsersMapping">
            </app-end-of-chat-info>
        }
    </cdk-virtual-scroll-viewport>

    @if (!isChatClosed) {
        <div class="input-bar">
            <mat-form-field class="input-field">
                <mat-label>Send as {{chatUsersMapping[loggedInUser].value}}</mat-label>
                <textarea 
                    matInput
                    [(ngModel)]="chatMessageInput"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="5"
                    [maxlength]="500"
                    (keydown.enter)="sendChatMessage()">
                </textarea>
            </mat-form-field>
            <button
                mat-raised-button
                class="send-button"
                type="submit"
                [disabled]="chatMessageInput.length === 0"
                [ngClass]="chatMessageInput.length === 0 ? 'inactive-button' : ''"
                (click)="sendChatMessage()">
                Send
            </button>
        </div>
    }
    
</div>
