.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.message-window {
    position: relative;
    border: 1px solid black;
    height: 80vh;
    width: 80vw;
    margin: 0;
}

.chat-input-box {
    display: flex;
}