@if(isLoaded){
<div class="container">
    
    <h1 id="title" class="noselect">Your Groups</h1>
    
    <div id="user-nav">
        <!-- Username and pfp go here -->
        <button id="logout-button" (click)="logout()">Logout</button>
    </div>
    
    <div id="group-list">
        <a id="create-group-button" class="group-card" (click)="openCreateGroupPage()">
            <mat-icon id="create-group-icon">group_add</mat-icon>
            <span>Create New Group</span>
        </a>
        <a 
        class="group-card" 
        *ngFor="let group of userGroups"
        [routerLink]="'/chats'"
        [state]="group"
        >
            {{group.name}}
        </a>
    </div>
</div>
}
@else {
    <app-loading-spinner></app-loading-spinner>
}